<h1>作品一覧画面</h1>
<% @posts.each do |post| %>
  <%= attachment_image_tag post, :post_image, :fill, 320, 450 %>
  <%= attachment_image_tag post.design_contributor, :profile_image, :fill, 20, 20 %>
  <%= post.design_contributor.pen_name %>
<% end %>