// Place all the styles related to the design_contributor/design_contributors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// --------------------------------------------------




// デザイン投稿者詳細画面
.user_show_top{
  background-image: url("../user_show_back1.png");
}
.user_show_heading2{
  position: absolute;
  top: 40%;
  right: 18%;
}
.user_show_decoration{
  background-image: url("../post_new_back2.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 28%;
  height: 100%;
  position: absolute;
  top: 40%;
  right: 2%;
}
.user_show_bottom{
  background-image: url("../base_back4");
}
.user_show_introduction{
  display: flex;
  align-items: flex-end;
  width: 680px;
  margin-left: 20px;
}
.user_image_frame{
  position: relative;
  width: 220px;
  height: 220px;
}
.user_image_frame::after {
  position: absolute;
  content: '';
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: inset 0 0 5px 5px rgb(197, 180, 169);
  border-radius: 15px;
}
.user_image{
  border-radius: 15px;
}
.user_show_name{
  font-size: 23px;
  width: 220px;
  text-align: center;
  color: rgb(59, 34, 33);
  font-family: serif;
  font-weight: bold;
}
.user_show_introduction2{
  margin-left: 60px;
  color: rgb(59, 34, 33);
  font-weight: bold;
}
.user_show_introduction2 p{
  font-size: 23px;
  font-family: serif;
  letter-spacing: 3px;
  margin-bottom: 2px;
}
.user_show_self_introduction{
  position: relative;
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 18px;
  font-family: "ヒラギノ明朝 ProN W6";
  background-color: rgb(249, 242, 237);
}
.user_show_self_introduction::after{
  position: absolute;
  content: '';
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: inset 0 0 3px 3px rgb(197, 180, 169);
  border-radius: 10px;
}
.user_edit_link1{
  width: 700px;
  margin-top: 10px;
  margin-left: 20px;
  text-align: right;
}
.user_edit_link2{
  font-family: "ヒラギノ明朝 ProN W6";
  color: rgb(59, 34, 33);
  border-bottom: solid 1px rgb(59, 34, 33);
}
.user_edit_link2:hover{
  opacity: 0.7;
}
.user_show_heading3{
  display: inline-block;
  font-size: 25px;
  font-family: "ヒラギノ明朝 ProN W6";
  padding: 8px 50px;
  margin-top: 50px;
  margin-bottom: 30px;
  border-top: double 6px rgb(59, 34, 33);
  border-bottom: double 6px rgb(59, 34, 33);
  // background-color: red;
}
.design_contributor_all_items{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.design_contributor_item1{
  position: relative;
}
.design_contributor_item1:hover{
  opacity: 0.7;
}
.design_contributor_item1::after{
  position: absolute;
  content: '';
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: inset 0 0 3px 3px rgb(197, 180, 169);
  border-radius: 10px;
}
.design_contributor_item2{
  border-radius: 10px;
}
.design_contributor_no_item{
  font-size: 20px;
  font-family: "ヒラギノ明朝 ProN W6";
  text-align: center;
}
// ------------------------------------------------



// デザイン投稿者編集画面
.user_edit_back{
  background-image: url("../base_back3.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 10%;
  padding-bottom: 10%;
}
.user_edit_heading1{
  font-family: "ヒラギノ明朝 ProN W6";
  font-size: 50px;
  font-weight: bold;
  color: rgb(70, 40, 20);
  text-align: center;
}
.design_contributor_edit_form{
  margin: 0 auto;
  width: 500px;
  margin-top: 5%;
}
.user_edit_input_form{
  display: flex;
  margin-bottom: 20px;
  color: rgb(59, 34, 33);
  font-family: serif;
  font-weight: bold;
}
.input_edit_profile_image1{
  width: 300px;
  font-size: 15px;
  color: rgb(249, 242, 237);
  background-color: rgb(65, 33, 11);
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.input_edit_profile_image1:hover{
  opacity: 0.8;
}
.design_contributor_image_choice{
  margin: 20px 100px;
}
.input_edit_profile_image2{
  display: none;
}
.design_contributor_edit_label{
  width: 150px;
  font-size: 20px;
  margin-right: 50px;
}
.design_contributor_edit_input{
  width: 300px;
  padding: 5px 10px;
  font-size: 15px;
  font-family: serif;
  font-weight: bold;
  background-color: rgb(249, 242, 237);
}
.pen_name_edit_input{
  width: 200px;
}
.user_edit_btn_form{
  text-align: center;
  margin-top: 50px;
}
.user_edit_btn{
  background-color: rgb(241, 215, 213);
  padding: 8px 30px;
  font-size: 18px;
  font-family: serif;
  font-weight: bold;
  color: rgb(61, 36, 34);
  letter-spacing: 5px;
  text-indent: 5px;
}

.user_edit_btn:hover{
  background-color: rgb(223, 183, 180);
  cursor: pointer;
}