// Place all the styles related to the design_contributor/offers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// ---------------------------------------------------




// offer編集画面
.offer_edit_back{
  background-image: url("../base_back3.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 10%;
  padding-bottom: 10%;
}
.offer_edit_heading1{
  font-family: "ヒラギノ明朝 ProN W6";
  font-size: 50px;
  font-weight: bold;
  color: rgb(70, 40, 20);
  text-align: center;
}
.offer_detail{
  margin-top: 3%;
  font-family: "ヒラギノ明朝 ProN W6";
  font-weight: bold;
  color: rgb(70, 40, 20);
}
.offer_detail1{
  text-align: center;
}
.offer_announce{
  font-size: 18px;
  text-align: center;
  margin-top: 10px;
  letter-spacing: 2px;
  text-indent: 2px;
}
.offer_detail2{
  display: flex;
  justify-content: center;
  margin: 5% 10%;
  padding-bottom: 5%;
  border-bottom: solid 3px rgb(70, 40, 20);
}
.offer_profile_image{
  margin-right: 5%;
}
.offer_company_name{
  margin-bottom: 5px;
  font-size: 20px;
}
.offer_comment{
  width: 500px;
  padding: 10px 15px;
  border-radius: 10px;
  position: relative;
  background-color: rgb(246, 238, 233);
}
.offer_comment:before{
  content: "";
  position: absolute;
  top: 30px;
  left: -24px;
  margin-top: -12px;
  border: 12px solid transparent;
  border-right: 12px solid rgb(246, 238, 233);
  z-index: 2;
}
.offer_reply{
  font-family: "ヒラギノ明朝 ProN W6";
  font-weight: bold;
  color: rgb(70, 40, 20);
  margin: 0 10%;
}
.offer_reply_heading{
  font-size: 20px;
  border: double 3px rgb(70, 40, 20);
  display: inline-block;
  padding: 10px 50px;
  letter-spacing: 5px;
  text-indent: 5px;
}
.offer_reply_intro{
  font-size: 20px;
  margin: 5% 0;
  text-align: center;
}
.offer_reply_form{
  display: flex;
  justify-content: center;
  font-size: 20px;
}
.offer_edit_input_form{
  display: inline-block;
}
.offer_edit_input_form:hover{
  color: rgba(70, 40, 20, 0.7);
  cursor: pointer;
}
.offer_edit_label:hover{
  cursor: pointer;
}
.offer_edit_input{
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  cursor: pointer;
}
input[type=radio] {
  opacity: 0;
}

.offer_edit_input::before {
  background: #fff;
  border: 1px solid rgb(87, 47, 21);
  border-radius: 50%;
  content: '';
  display: block;
  height: 16px;
  left: -22px;
  margin-top: -8px;
  position: absolute;
  top: 50%;
  width: 16px;
}
.offer_edit_input::after {
  background: rgb(87, 47, 21);
  border-radius: 50%;
  content: '';
  display: block;
  height: 10px;
  left: -18px;
  margin-top: -4px;
  opacity: 0;
  position: absolute;
  top: 50%;
  width: 10px;
}
input[type=radio]:checked + .offer_edit_input::after {
  opacity: 1;
}
.offer_status_failure{
  margin-left: 10%;
}
.offer_edit_btn_form{
  text-align: center;
  margin-top: 50px;
}
.offer_edit_btn{
  background-color: rgb(70, 40, 20);
  font-size: 18px;
  font-family: serif;
  font-weight: bold;
  color: rgb(197, 180, 169);
  padding: 12px 32px;
  letter-spacing: 8px;
  text-indent: 8px;
}
.offer_edit_btn:hover{
  background-color: rgba(70, 40, 20, 0.7);
  cursor: pointer;
}
.offer_edit_error_box{
  margin: 0 auto;
  margin-top: 5%;
  width: 500px;
}
