// Place all the styles related to the design_contributor/offers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// ---------------------------------------------------




// offer編集画面
.offer_back{
  background-image: url("../base_back3.png");
  background-size: 100%;
  font-family: "HiraMinProN-W6";
  padding: 10%;
}
.offer_heading{
  font-size: 50px;
  font-weight: bold;
  color: rgb(70, 40, 20);
  text-align: center;
}
.offer_detail{
  margin-top: 5%;
  font-weight: bold;
  color: rgb(70, 40, 20);
}
.offer_detail1{
  text-align: center;
}
.offer_announce{
  font-size: 20px;
  color: rgb(61, 36, 34);
  text-align: center;
  margin-top: 10px;
  letter-spacing: 2px;
  text-indent: 2px;
}
.offer_detail2{
  display: flex;
  justify-content: center;
  width: 700px;
  padding-bottom: 5%;
  margin: 5% auto;
  border-bottom: solid 3px rgb(70, 40, 20);
}
.offer_profile_image{
  margin-right: 5%;
}
.offer_company_name{
  margin-bottom: 5px;
  font-size: 20px;
}
.offer_comment{
  padding: 10px 15px;
  border-radius: 10px;
  position: relative;
  background-color: rgb(246, 238, 233);
}
.offer_comment:before{
  content: "";
  position: absolute;
  top: 22px;
  left: -24px;
  margin-top: -12px;
  border: 12px solid transparent;
  border-right: 12px solid rgb(246, 238, 233);
  z-index: 2;
}
.offer_edit_content{
  width: 700px;
  font-weight: bold;
  color: rgb(70, 40, 20);
  margin: 0 auto;
}
.offer_edit_heading{
  font-size: 20px;
  border: double 3px rgb(70, 40, 20);
  display: inline-block;
  padding: 10px 50px;
  letter-spacing: 5px;
  text-indent: 5px;
}
.offer_edit_intro{
  font-size: 20px;
  margin: 5% 0;
  text-align: center;
}
.offer_edit_form{
  display: flex;
  justify-content: center;
  font-size: 20px;
}
.offer_edit_input_form{
  display: inline-block;
}
.offer_edit_input_form:hover{
  color: rgba(70, 40, 20, 0.7);
  cursor: pointer;
}
.offer_edit_label:hover{
  cursor: pointer;
}
.offer_edit_input{
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  cursor: pointer;
}
input[type=radio] {
  opacity: 0;
}

.offer_edit_input::before {
  background: #fff;
  border: 1px solid rgb(87, 47, 21);
  border-radius: 50%;
  content: '';
  display: block;
  height: 16px;
  left: -22px;
  margin-top: -8px;
  position: absolute;
  top: 50%;
  width: 16px;
}
.offer_edit_input::after {
  background: rgb(87, 47, 21);
  border-radius: 50%;
  content: '';
  display: block;
  height: 10px;
  left: -18px;
  margin-top: -4px;
  opacity: 0;
  position: absolute;
  top: 50%;
  width: 10px;
}
input[type=radio]:checked + .offer_edit_input::after {
  opacity: 1;
}
.offer_status_failure{
  margin-left: 10%;
}
.offer_edit_btn_form{
  text-align: center;
  margin-top: 50px;
}
.offer_edit_btn{
  background-color: rgb(70, 40, 20);
  font-size: 18px;
  font-family: serif;
  font-weight: bold;
  color: rgb(197, 180, 169);
  padding: 12px 32px;
  letter-spacing: 8px;
  text-indent: 8px;
}
.offer_edit_btn:hover{
  background-color: rgba(70, 40, 20, 0.7);
  cursor: pointer;
}
.offer_edit_error_box{
  margin: 0 auto;
  margin-top: 5%;
  width: 500px;
}
/*--------------------------------------*/

/*-----------1000px以下に適用------------*/
@media(max-width: 1000px){
  .offer_heading{
    font-size: 40px;
  }
  .offer_post_image{
    width: 300px;
  }
  .offer_announce{
    font-size: 18px;
    margin-top: 8px;
  }
  .offer_detail2{
    width: 550px;
  }
  .offer_profile_image{
    width: 170px;
    height: 170px;
  }
  .offer_edit_content{
    width: 550px;
  }
}
/*--------------------------------------*/

/*-----------800px以下に適用------------*/
@media(max-width: 800px){
  .offer_heading{
    font-size: 30px;
  }
  .offer_announce{
    font-size: 16px;
    margin-top: 6px;
  }
  .offer_detail2{
    width: 420px;
  }
  .offer_profile_image{
    width: 140px;
    height: 140px;
  }
  .offer_comment{
    padding: 8px 10px;
    font-size: 14px;
  }
  .offer_comment:before{
    top: 18px;
    left: -20px;
    margin-top: -10px;
    border: 10px solid transparent;
    border-right: 10px solid rgb(246, 238, 233);
  }
  .offer_edit_content{
    width: 420px;
  }
}
/*--------------------------------------*/

/*-----------600px以下に適用------------*/
@media(max-width: 600px){
  .offer_heading{
    font-size: 21px;
  }
  .offer_post_image{
    width: 230px;
  }
  .offer_announce{
    font-size: 13px;
    margin-top: 4px;
  }
  .offer_announce span{
    display: block;
  }
  .offer_detail2{
    flex-direction: column;
    align-items: center;
    width: 240px;
    padding-bottom: 10%;
    margin: 10% auto;
  }
  .offer_profile_image{
    margin-right: 0%;
  }
  .offer_company_name{
    text-align: center;
  }
  .offer_comment{
    margin-top: 15px;
  }
  .offer_comment:before{
    top: -15px;
    left: 50%;
    margin-left: -15px;
    border: 15px solid transparent;
    border-bottom: 15px solid rgb(246, 238, 233);
  }
  .offer_edit_content{
    width: 240px;
  }
  .offer_edit_heading {
    font-size: 15px;
    border: double 3px #462814;
    padding: 5px 25px;
    letter-spacing: 5px;
    text-indent: 5px;
  }
  .offer_edit_intro {
    font-size: 15px;
    margin: 10% 0;
  }
  .offer_edit_form{
    font-size: 15px;
  }
  .offer_edit_btn_form{
    margin-top: 25px;
  }
  .offer_edit_btn{
    font-size: 14px;
    padding: 8px 15px;
    letter-spacing: 4px;
    text-indent: 4px;
  }
}
// ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

