// Place all the styles related to the design_contributor/posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//----------------------------------------------------




// posts一覧画面
.posts_index_top{
  background-image: url("../posts_index_back1.png");
}
.posts_index_heading2{
  position: absolute;
  top: 34%;
  left: 48%;
}
.posts_index_bottom{
  background-image: url("../base_back2.png");
}
.posts_index_heading3{
  display: flex;
  align-items: flex-end;
}
.posts_index_heading3 h3{
  color: rgb(59, 34, 33);
  font-family: serif;
  font-size: 30px;
  border: double 10px rgb(59, 34, 33);
  width: 250px;
  text-align: center;
}
.posts_index_heading3 span{
  margin-left: 50px;
  color: rgb(59, 34, 33);
  font-family: serif;
  font-size: 20px;
  font-weight: bold;
}
.posts_index_list{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 5%;
}
.post_show_link{
  padding: 10px;
  margin-bottom: 5px;
  background-color: rgb(225, 214, 206);
  border-radius: 5px;
}
.post_show_link:hover{
  background-color: rgb(70, 40, 20);
  opacity: 0.8;
}
.post_index_image{
  margin-bottom: 0px;
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user_show_link{
  display: inline-block;
  height: 53px;
  margin-top: 5px;
}
.user_show_link:hover{
  opacity: 0.7;
}
.user_show_link1{
  display: flex;
  align-items: center;
  height: 100%;
}
.user_show_link2{
  height: 100%;
}
.user_profile_image{
  border-radius: 50%;
  padding: 2px;
  border: solid 2px rgb(70, 40, 20);
}
.user_show_link3{
  color: rgb(59, 34, 33);
  font-family: serif;
  font-size: 18px;
  font-weight: bold;
  padding: 0 10px;
  display: inline-block;
}
// // ---------------------



// // posts新規登録画面
.post_new_top{
  background-image: url("../post_new_back1.png");
}
.post_new_heading2{
  position: absolute;
  top: 34%;
  left: 48%;
}
.post_new_decoration{
  background-image: url("../post_new_back2.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 25%;
  height: 100%;
  position: absolute;
  top: 50%;
  right: 5%;
}
.post_new_bottom{
  background-image: url("../base_back3");
}
.post_new_form{
  margin: 0 auto;
  width: 700px;
  margin-top: 5%;
}
.post_input_form{
  display: flex;
  width: 500px;
  margin: 0 auto;
  margin-bottom: 30px;
  color: rgb(59, 34, 33);
  font-family: serif;
  font-weight: bold;
}
.post_image_form{
  justify-content: center;
  margin-top: 20px;
}
.post_input_image1{
  width: 250px;
  font-size: 15px;
  color: rgb(249, 242, 237);
  background-color: rgb(65, 33, 11);
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.post_input_image1:hover{
  background-color: rgba(65, 33, 11, 0.7);
}
.post_input_image2{
  display: none;
}
.post_label{
  width: 200px;
  font-size: 20px;
}
.post_input{
  height: 100px;
  width: 300px;
  padding: 5px 10px;
  font-size: 15px;
  font-family: serif;
  font-weight: bold;
  background-color: rgb(249, 242, 237);
}
.post_new_btn_form{
  text-align: center;
  margin-top: 100px;
}
.post_new_btn{
  background-color: rgb(70, 40, 20);
  padding: 12px 32px;
  font-size: 18px;
  font-family: serif;
  font-weight: bold;
  color: rgb(197, 180, 169);
  letter-spacing: 8px;
  text-indent: 8px;
}
.post_new_btn:hover{
  background-color: rgba(70, 40, 20, 0.7);
  cursor: pointer;
}
// ---------------------------------------



// posts詳細画面
.post_show_back{
  background-image: url("../base_back3");
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 5%;
  font-family: "ヒラギノ明朝 ProN W6";
  font-weight: bold;
  color: rgb(70, 40, 20);
}
.post_show_top{
  display: flex;
  justify-content: center;
}
.post_show_top2{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
  margin-left: 50px;
  // background-color: green;
}
.post_show_user2{
  text-align: center;
  font-size: 30px;
}
.post_show_author_comment1{
  padding: 10px 15px;
  width: 300px;
  background-color: rgb(249, 242, 237);
  border-radius: 5px;
}
.comment_edit_link{
  text-align: right;
}
.post_show_created_at{
  text-align: right;
}

// --------------------------------------



// posts編集画面
.post_edit_back{
  background-image: url("../base_back3.png");
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 10%;
  width: 100%;
  height: 0;
  margin: 0 auto;
}
.post_edit_heading1{
  font-family: "ヒラギノ明朝 ProN W6";
  font-size: 50px;
  font-weight: bold;
  color: rgb(70, 40, 20);
  text-align: center;
}
.post_edit_content{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 5%;
  // background-color: red;
}
.post_edit_comment{
  margin-left: 10%;
  width: 300px;
  // background-color: green;
}
.post_edit_label{
  font-family: "ヒラギノ明朝 ProN W6";
  font-size: 22px;
  font-weight: bold;
  color: rgb(70, 40, 20);
  margin-top: 20%;
  margin-bottom: 5px;
}
.post_edit_form1{
  width: 100%;
}
.post_edit_form2{
  width: 100%;
  height: 120px;
  padding: 10px 15px;
  font-size: 18px;
  font-family: "ヒラギノ明朝 ProN W6";
  font-weight: bold;
  color: rgb(59, 34, 33);
  background-color: rgb(249, 242, 237);
}
.post_edit_btn_form{
  text-align: center;
  margin-top: 50px;
}
.post_edit_btn{
  background-color: rgb(70, 40, 20);
  padding: 12px 32px;
  font-size: 18px;
  font-family: serif;
  font-weight: bold;
  color: rgb(197, 180, 169);
  letter-spacing: 8px;
  text-indent: 8px;
}
.post_edit_btn:hover{
  background-color: rgba(70, 40, 20, 0.7);
  cursor: pointer;
}
// --------------------------------------
