<!--企業宛オファー返信通知画面-->

<div class="content_width notification_back">

  <h1 class="notification_heading1">オファー通知</h1>

  <% if @notifications.exists? %>
    <div class="notification_content">
      <%= render @notifications %>
    </div>
  <% else %>
    <div class="notification_content">
      <p class="notification_no_content">通知はありません</p>
    </div>
  <% end %>
</div>
