// Place all the styles related to the company/companies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// --------------------------------------------------





// 企業詳細画面
.company_show_name1{
  font-size: 16px;
}
.company_show_name2{
  font-size: 23px;
}
.user_show_introduction .company_show_introduction2{
  margin-bottom: 60px;
}
.company_offer_count{
  color: #3b2221;
  margin-left: 20px;
  font-size: 20px;
}
/*--------------------------------------*/

/*-----------1000px以下に適用------------*/
@media(max-width: 1000px){
  .company_show_name1{
    font-size: 15px;
  }
  .company_show_name2{
    font-size: 20px;
  }
  .company_offer_count{
    margin-left: 15px;
    font-size: 16px;
  }
}
/*--------------------------------------*/

/*-----------800px以下に適用------------*/
@media(max-width: 800px){
  .company_show_name1{
    font-size: 14px;
  }
  .company_show_name2{
    font-size: 18px;
  }
  .user_show_introduction .company_show_introduction2{
    margin-bottom: 50px;
  }
}
/*--------------------------------------*/

/*-----------600px以下に適用------------*/
@media(max-width: 600px){
  .company_offer_count {
    margin-left: 10px;
    font-size: 12px;
  }
}
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/


