// Place all the styles related to the company/companies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// --------------------------------------------------





// 企業詳細画面
.company_show_name1{
  font-size: 16px;
}
.company_show_name2{
  font-size: 23px;
}
.company_offer_count{
  margin-left: 20px;
  font-size: 20px;
}
/*--------------------------------------*/

/*-----------1000px以下に適用------------*/
@media(max-width: 1000px){
  .company_show_name1{
    font-size: 15px;
  }
  .company_show_name2{
    font-size: 20px;
  }
}
/*--------------------------------------*/

/*-----------800px以下に適用------------*/
@media(max-width: 800px){
  .company_show_name1{
    font-size: 14px;
  }
  .company_show_name2{
    font-size: 18px;
  }
  .company_offer_count{
    margin-left: 20px;
    font-size: 20px;
  }
}
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/



// 企業編集画面
.company_edit_form{
  margin: 0 auto;
  width: 700px;
  margin-top: 5%;
}
.company_edit_input_form{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  color: rgb(59, 34, 33);
  font-family: serif;
  font-weight: bold;
}
.company_edit_input_form_introduction{
  align-items: flex-start;
}
.company_edit_label{
  width: 250px;
  font-size: 20px;
}
.company_edit_input{
  width: 300px;
  padding: 5px 10px;
  font-size: 15px;
  color: rgb(59, 34, 33);
  font-family: serif;
  font-weight: bold;
  background-color: rgb(249, 242, 237);
}
.postal_code_edit_input{
  width: 150px;
}
.address_edit_input{
  width: 450px;
}
.company_introduction_edit_input{
  width: 450px;
  height: 200px;
}
/*--------------------------------------*/

/*-----------1000px以下に適用------------*/
@media(max-width: 1000px){
  .company_edit_form{
    width: 560px;
  }
  .company_edit_label{
    width: 180px;
    font-size: 18px;
  }
  .company_edit_input{
    width: 250px;
    font-size: 13px;
  }
  .postal_code_edit_input{
    width: 125px;
  }
  .address_edit_input, .company_introduction_edit_input{
    width: 380px;
  }
}
/*--------------------------------------*/

/*-----------800px以下に適用------------*/
@media(max-width: 800px){
  .company_edit_form{
    width: 420px;
  }
  .company_edit_input_form{
    flex-direction: column;
    align-items: flex-start;
  }
  .company_edit_label{
    width: 100%;
  }
  .company_edit_input{
    width: 280px;
    font-size: 15px;
  }
  .postal_code_edit_input{
    width: 140px;
  }
  .address_edit_input, .company_introduction_edit_input{
    width: 100%;
  }
}
/*--------------------------------------*/

/*-----------600px以下に適用------------*/
@media(max-width: 600px){
  .company_edit_form{
    width: 100%;
  }
  .company_edit_label{
    margin-bottom: 2px;
    font-size: 16px;
  }
  .company_edit_input{
    width: 240px;
    font-size: 13px;
  }
  .postal_code_edit_input{
    width: 120px;
  }
  .address_edit_input, .company_introduction_edit_input{
    width: 100%;
  }
}
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
