// Place all the styles related to the company/companies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// --------------------------------------------------





// 企業詳細画面
.company_show_name1{
  font-size: 16px;
}
.company_show_name2{
  font-size: 23px;
}
.user_show_introduction .company_show_introduction2{
  margin-bottom: 60px;
}
.company_offer_count{
  color: #3b2221;
  margin-left: 20px;
  font-size: 20px;
}
/*--------------------------------------*/

/*-----------1000px以下に適用------------*/
@media(max-width: 1000px){
  .company_show_name1{
    font-size: 15px;
  }
  .company_show_name2{
    font-size: 20px;
  }
}
/*--------------------------------------*/

/*-----------800px以下に適用------------*/
@media(max-width: 800px){
  .company_show_name1{
    font-size: 14px;
  }
  .company_show_name2{
    font-size: 18px;
  }
  .user_show_introduction .company_show_introduction2{
    margin-bottom: 50px;
  }
  .company_offer_count{
    margin-left: 15px;
    font-size: 16px;
  }
}
/*--------------------------------------*/

/*-----------600px以下に適用------------*/
@media(max-width: 600px){
  .company_offer_count {
    margin-left: 10px;
    font-size: 12px;
  }
}
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/



// 企業編集画面
.company_edit_form{
  width: 700px;
  margin: 0 auto;
  margin-top: 5%;
}
.company_edit_input_form{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  color: rgb(59, 34, 33);
  font-family: serif;
  font-weight: bold;
}
.company_edit_input_form_introduction{
  align-items: flex-start;
}
.company_edit_input_form .postal_code_edit_input{
  width: 150px;
}
.company_edit_input_form .address_edit_input{
  width: 500px;
}
/*--------------------------------------*/

/*-----------1000px以下に適用------------*/
@media(max-width: 1000px){
  .company_edit_form{
    width: 560px;
  }
  .company_edit_input_form .postal_code_edit_input{
    width: 120px;
  }
  .company_edit_input_form .address_edit_input{
    width: 400px;
  }
}
/*--------------------------------------*/

/*-----------800px以下に適用------------*/
@media(max-width: 800px){
  .company_edit_form{
    width: 420px;
  }
  .company_edit_input_form{
    flex-direction: column;
    align-items: flex-start;
  }
  .company_edit_input_form  .postal_code_edit_input{
    width: 130px;
  }
  .company_edit_input_form .address_edit_input{
    width: 100%;
  }
}
/*--------------------------------------*/

/*-----------600px以下に適用------------*/
@media(max-width: 600px){
  .company_edit_form{
    width: 100%;
  }
  .company_edit_input_form  .postal_code_edit_input{
    width: 120px;
  }
}
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
