// Place all the styles related to the company/offers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// ---------------------------------------------------




// offer新規登録画面
.offer_new_content{
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 30px;
  width: 600px;
}
.offer_error_box{
  margin-bottom: 30px;
}
.offer_new_form{
  display: flex;
  justify-content: space-between;
}
.offer_new_label{
  font-size: 22px;
}
.offer_new_input{
  width: 380px;
  height: 210px;
  font-size: 20px;
  font-family: "HiraMinProN-W6";
  color: rgb(70, 40, 20);
  padding: 10px 15px;
  background-color: rgb(249, 242, 237);
}
.offer_new_btn_form{
  text-align: center;
  margin-top: 80px;
}
.offer_new_btn{
  background-color: rgb(70, 40, 20);
  font-size: 18px;
  font-family: "HiraMinProN-W6";
  font-weight: bold;
  color: rgb(249, 242, 237);
  padding: 15px 30px;
  letter-spacing: 4px;
  text-indent: 4px;
}
.offer_new_btn:hover{
  background-color: rgba(70, 40, 20, 0.7);
  cursor: pointer;
}
/*--------------------------------------*/

/*-----------1000px以下に適用------------*/
@media(max-width: 1000px){
  .offer_new_content{
    width: 530px;
    margin-top: 60px;
  }
  .offer_new_label{
    font-size: 20px;
  }
  .offer_new_input{
    width: 350px;
    height: 180px;
    font-size: 18px;
  }
  .offer_new_btn_form{
    margin-top: 60px;
  }
  .offer_new_btn{
    font-size: 17px;
    padding: 14px 28px;
    letter-spacing: 3px;
    text-indent: 3px;
  }
}
/*--------------------------------------*/

/*-----------800px以下に適用------------*/
@media(max-width: 800px){
  .offer_new_form{
    flex-direction: column;
  }
  .offer_new_content{
    width: 350px;
  }
}
/*--------------------------------------*/

/*-----------600px以下に適用------------*/
@media(max-width: 600px){
  .offer_new_content{
    width: 100%;
  }
  .offer_new_label{
    font-size: 18px;
  }
  .offer_new_input{
    width: 100%;
    font-size: 16px;
  }
  .offer_new_btn_form{
    margin: 30px 0;
  }
  .offer_new_btn{
    font-size: 15px;
    padding: 12px 24px;
    letter-spacing: 2px;
    text-indent: 2px;
  }
}
// ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
