// Place all the styles related to the company/posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//----------------------------------------------------




// posts詳細画面
.company_post_show_bottom_right{
  position: relative;
}
.company_post_show_bottom_right1{
  margin: 0 auto;
  text-align: center;
  width: 95%;
}
.company_post_show_bottom_right1 .company_post_show_reaction{
  margin: 0 auto;
  margin-bottom: 50px;
  // maegin-top: 0;
}
.post_offer_announce1{
  padding: 10px 0;
  margin: 10px 0;
  text-align: center;
  color: white;
  background-color: rgb(61, 36, 34);
}
.post_offer_announce2{
  font-size: 15px;
  text-align: center;
  width: 300px;
  padding: 55px 20px;
  margin: 0 auto;
  color: rgb(221, 212, 205);
  background-color: rgb(50, 26, 10);
}
.post_offer_announce2 span{
  margin: 0 5px;
}
.offer_new_link1{
  display: inline-block;
}
.offer_new_link1:hover{
  opacity: 0.8;
}
.offer_new_link2{
  text-align: center;
  font-size: 18px;
  margin: 0 auto;
  color: rgb(221, 212, 205);
  background-color: rgb(50, 26, 10);
}
.company_post_show_call{
  margin-top: 10px;
}
.company_post_show_bottom_right2{
  margin-left: auto;
}
.company_post_index_link_decoration{
  background-image: url("../post_show_back2");
  background-size: contain;
  background-repeat: no-repeat;
  width: 120px;
  height: 170px;
  position: absolute;
  top: 80%;
  left: 92%;
  z-index: 1;
}
/*--------------------------------------*/

/*-----------1400px以下に適用------------*/
@media(max-width: 1400px){
  .post_show_bottom_content .company_post_show_bottom_left{
    width: 500px;
  }
  .post_show_bottom_content .company_post_show_bottom_right{
    width: 350px;
  }
}
/*--------------------------------------*/

/*-----------1200px以下に適用------------*/
@media(max-width: 1200px){
  .post_show_bottom_content .company_post_show_bottom_left{
    width: 400px;
  }
  .post_show_bottom_content .company_post_show_bottom_right{
    width: 300px;
  }
  .company_post_show_bottom_right1 .company_post_show_reaction{
    width: 260px;
  }
  .company_post_show_bottom_right1 .post_offer_announce2{
    width: 260px;
  }
  .company_post_show_call{
    font-size: 15px;
  }
}
/*--------------------------------------*/

/*-----------1000px以下に適用------------*/
@media(max-width: 1000px){
  .post_show_bottom_content .company_post_show_bottom_left{
    width: 60%;
  }
  .post_show_bottom_content .company_post_show_bottom_right{
    width: 40%;
    font-size: 12px;
  }
  .company_post_show_bottom_right1 .company_post_show_reaction{
    width: 90%;
    padding: 10px 15px;
    margin-bottom: 25px;
  }
  .company_post_show_bottom_right1 .post_offer_announce2{
    width: 90%;
  }
  .offer_new_link2{
    font-size: 16px;
  }
  .company_post_show_call{
    font-size: 11px;
  }
  .company_post_index_link_decoration{
    left: 88%;
  }
}
/*--------------------------------------*/

/*-----------800px以下に適用------------*/
@media(max-width: 800px){
  .post_show_bottom_content .company_post_show_bottom_left{
    width: 100%;
  }
  .post_show_bottom_content .company_post_show_bottom_right{
    width: 400px;
    margin-top: 50px;
    font-size: 18px;
  }
  .company_post_show_bottom_right1 .company_post_show_reaction{
    width: 80%;
  }
  .company_post_show_bottom_right1 .post_offer_announce2{
    width: 75%;
  }
  .company_post_show_call{
    font-size: 18px;
  }
  .company_post_index_link_decoration {
    width: 80px;
    height: 120px;
    top: 80%;
    left: 95%;
  }
}
/*--------------------------------------*/

/*-----------600px以下に適用------------*/
@media(max-width: 600px){
  .post_show_bottom_content .company_post_show_bottom_right{
    width: 100%;
    font-size: 12px;
  }
  .company_post_show_bottom_right1 .company_post_show_reaction{
    width: 230px;
  }
  .company_post_show_bottom_right1 .post_offer_announce2{
    width: 220px;
  }
  .company_post_show_call{
    font-size: 12px;
  }
  .company_post_index_link_decoration{
    display: none;
  }
}
