// Place all the styles related to the company/posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//----------------------------------------------------




// posts詳細画面
.company_want_detail{
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}
.company_want_detail span{
  margin: 0 5px;
}
.company_post_show_bottom_right1{
  margin: 0 auto;
  text-align: center;
}
.company_post_show_bottom_right1 .company_post_show_reaction{
  margin: 0 auto;
  margin-bottom: 50px;
  maegin-top: 0;
}
.post_offer_announce1{
  padding: 10px 20px;
  margin: 10px 0;
  text-align: center;
  color: white;
  background-color: rgb(61, 36, 34);
}
.post_offer_announce2{
  font-size: 15px;
  width: 300px;
  padding: 55px 20px;
  margin: 0 auto;
  color: rgb(221, 212, 205);
  background-color: rgb(50, 26, 10);
}
.post_offer_announce2 span{
  margin: 0 5px;
}
.post_offer_announce2_center{
  text-align: center;
}
.offer_new_link1{
  display: inline-block;
  width: 300px;
  text-align: center;
  margin: 0 auto;
}
.offer_new_link2{
  text-align: center;
  font-size: 18px;
  line-height: 30px;
  margin: 0 auto;
  padding: 55px 0;
  color: rgb(221, 212, 205);
  background-color: rgb(50, 26, 10);
}
.offer_new_link2:hover{
  opacity: 0.8;
}
.company_post_show_call{
  margin-top: 10px;
}
.company_post_show_bottom_right2{
  margin-left: auto;
}
/*--------------------------------------*/

/*-----------1400px以下に適用------------*/
@media(max-width: 1400px){
  .post_show_bottom_content .company_post_show_bottom_left{
    width: 500px;
  }
  .post_show_bottom_content .company_post_show_bottom_right{
    width: 350px;
  }
}
/*--------------------------------------*/

/*-----------1200px以下に適用------------*/
@media(max-width: 1200px){
  .post_show_bottom_content .company_post_show_bottom_left{
    width: 400px;
  }
  .post_show_bottom_content .company_post_show_bottom_right{
    width: 300px;
  }
  .company_post_show_bottom_right1 .company_post_show_reaction{
    width: 260px;
  }
  .company_post_show_bottom_right1 .offer_new_link1{
    width: 260px;
  }
  .company_post_show_call{
    font-size: 15px;
  }
}
/*--------------------------------------*/

/*-----------1000px以下に適用------------*/