<!--About画面-->

<div class="content_width">
  <div class="top_content about_top">
    <div class="heading2 about_heading2">
      <h2><span>あなたのアイデアとブランドを繋ぐ</span>Donna Attraente</h2>
      <p>イタリア語で”魅力的な女性”を意味する言葉<br />
        女性はどんな時でも美しくきれいでありたいもの<br />
        そんな女性の魅力を惹き出すワンピースをデザイン
      </p>
    </div>
    <!-----------------見出し------------------>
    <div class="heading1">
      <h1>About</h1>
    </div>
  </div>

  <div class="about_bottom about_bottom1">
    <div class="about_bottom_content about_bottom1_content">
      <h3 class="about_bottom_heading">オリジナルデザインのワンピース投稿サイト</h3>
      <p>Donna Attraenteは皆さんのデザインした<br />オリジナルワンピースの投稿サイトです。</p>
      <p>可愛い系・大人系・清楚系・カジュアル系<br />どんな種類のデザインでも構いません。</p>
      <p>気に入った作品を見つけたら<br />「なにこれ欲しい☆」をつけたりコメントをしてみましょう。</p>
      <p>あなたの想像力と画力で女性の魅力を惹き出す<br />ステキなワンピースを投稿してください♪</p>
    </div>
  </div>
  <div class="about_bottom about_bottom2">
    <div class="about_bottom_content about_bottom2_content">
      <h3 class="about_bottom_heading">あなたのデザインしたワンピースが商品に</h3>
      <p>あなたがデザインしたワンピースは<br />Donna Attraenteに登録している<br />アパレル関係者・ブランド・企業が目にします。</p>
      <p>もし企業が求めるデザインであったり、<br />なにこれ欲しい☆やコメントなど、たくさんの反応がつくと<br />その作品に商品化のオファーがもらえます。</p>
      <p>オファーが成立すると、有名ブランドを含む多くの企業が<br />あなたの考えたワンピースを一から手掛け、<br />実際の商品として世に販売されます。</p>
      <p>あなたの想像したワンピースが本当に形になるかもしれません。<br />ぜひステキなオリジナルワンピースを考えてください♬</p>
    </div>
  </div>
</div>
