<!--About画面-->

<div class="content_width">
  <div class="top_content about_top">
    <div class="heading2 about_heading2">
      <h2><span>あなたのアイデアとブランドを繋ぐ</span>Donna Attraente</h2>
      <p>イタリア語で”魅力的な女性”を意味する言葉<br />
        女性はどんな時でも美しくきれいでありたいもの<br />
        そんな女性の魅力を惹き出すワンピースをデザイン
      </p>
    </div>
    <!-----------------見出し------------------>
    <div class="heading1">
      <h1>About</h1>
    </div>
  </div>

  <div class="bottom_content about_bottom">
    <div class="about_bottom1">
      <h3 class="about_bottom1_heading">オリジナルデザインのワンピースを投稿</h3>

    </div>

  </div>
</div>
