<!--About画面-->

<div class="content_width">
  <div class="top_content about_top">
    <div class="heading2 about_heading2">
      <h2><span>あなたのアイデアとブランドを繋ぐ</span>Donna Attraente</h2>
    </div>
  </div>







</div>

<h1>Homes#about</h1>
<p>Find me in app/views/homes/about.html.erb</p>
