<!--About画面-->

<div class="content_width">
  <div class="top_content about_top">
    <div class="heading2 about_heading2">
      <h2><span>あなたのアイデアとブランドを繋ぐ</span>Donna Attraente</h2>
      <p>イタリア語で”魅力的な女性”を意味する言葉<br />
        女性はどんな時でも美しくきれいでありたいもの<br />
        そんな女性の魅力を惹き出すワンピースをデザイン
      </p>
    </div>
    <!-----------------見出し------------------>
    <div class="heading1">
      <h1>About</h1>
    </div>
  </div>

  <div class="about_bottom about_bottom1">
    <div class="about_bottom_content about_bottom1_content">
      <h3 class="about_bottom_heading">オリジナルデザインのワンピース投稿サイト</h3>
      <p>Donna Attraenteは皆さんのデザインした<br />オリジナルワンピースの投稿サイトです。</p>
      <p>可愛い系・大人系・清楚系・カジュアル系<br />どんな種類のデザインでも構いません。</p>
      <p>気に入った作品を見つけたら<br />「なにこれ欲しい☆」をつけたりコメントをしてみましょう。</p>
      <p>あなたの想像力と画力で女性の魅力を惹き出す<br />ステキなワンピースを投稿してください♪</p>
    </div>
  </div>
  <div class="about_bottom about_bottom2">
    <div class="about_bottom_content about_bottom2_content">
      <h3 class="about_bottom_heading">あなたのデザインしたワンピースが商品に</h3>
      <p>あなたが投稿したワンピースは<br />Donna Attraenteに登録している<br />アパレル関係者・ブランド・企業が目にします。</p>
      <p>もし企業が求めるデザインであったり、<br />なにこれ欲しい☆やコメントなど、たくさんの反応がつくと<br />その作品に商品化のオファーがもらえます。</p>
      <p>オファーが成立すると、有名ブランドを含む多くの企業が<br />あなたの考えたワンピースを一から手掛け、<br />実際の商品として世に販売されます。</p>
      <p>あなたの想像したワンピースが本当に形になるかもしれません。<br />ぜひステキなオリジナルワンピースを考えてください♬</p>
    </div>
  </div>
  <div class="about_bottom3">
    <div class="about_bottom3_content">
      <h3 class="offer_structure_heading">Donna Attraente<span>のユーザー</span></h3>
      <p class="offer_structure_detail">Donna Attraenteには２種類の登録者がいます。
        <br />デザインを考えて投稿する〈<span>デザイン投稿者</span>〉と、新商品を探す企業などの〈<span>アパレル関係者</span>〉です。
        <br />まずはご自分がどちらのユーザーとして利用するのか確認し、ユーザーの新規登録をしてください。
      </p>
      <div class="offer_structure1">
        <div class="registered_person_detail">
          <div class="registered_person_frame">
            <img src="/assets/design_contributor_img.png" class="registered_person" alt="一般投稿者画像">
          </div>
          <p>① デザイン投稿者<span>ワンピースのイラストを投稿する人</span></p>
        </div>
        <div class="registered_person_detail">
          <div class="registered_person_frame">
            <img src="/assets/company_img.png" class="registered_person" alt="アパレル関係者画像">
          </div>
          <p>② アパレル関係者<span>ワンピースの制作会社等</span></p>
        </div>
      </div>
      <h3 class="offer_structure_heading">Donna Attraente<span>のオファーの仕組み</span></h3>
      <!--<p class="offer_structure_detail">Donna Attraenteには２種類の登録者がいます。-->
      <!--  <br />デザインを考えて投稿する〈<span>デザイン投稿者</span>〉と、新商品を探す企業などの〈<span>アパレル関係者</span>〉です。-->
      <!--  <br />まずはご自分がどちらのユーザーとして利用するのか確認し、ユーザーの新規登録をしてください。-->
      <!--</p>-->
      <div class="offer_structure2">
        <div class="offer_flow_detail">
          <p class="offer_flow_detail_text1">① デザイン投稿者がデザインを投稿</p>
          <img src="/assets/offer_flow1.png" class="offer_flow" alt="オファーの流れ①">
          <div class="offer_flow_detail_text2_frame">
            <p class="offer_flow_detail_text2">まずはデザイン投稿者が好きなワンピースをデザインし、投稿ページから投稿します</p>
          </div>
        </div>
        <div class="offer_flow_detail">
          <p class="offer_flow_detail_text1">② アパレル関係者がオファーを送る</p>
          <img src="/assets/offer_flow2.png" class="offer_flow" alt="オファーの流れ②">
          <div class="offer_flow_detail_text2_frame">
            <p class="offer_flow_detail_text2">すると制作会社などが気に入ったデザインに対して商品化のオファーを送ります</p>
          </div>
        </div>
        <div class="offer_flow_detail">
          <p class="offer_flow_detail_text1">③ デザイン投稿者がオファーの返信</p>
          <img src="/assets/offer_flow3.png" class="offer_flow" alt="オファーの流れ③">
          <div class="offer_flow_detail_text2_frame">
            <p class="offer_flow_detail_text2">オファーが来たら返信画面からオファーを受けるか断るかを選択し、返信しましょう</p>
          </div>
        </div>
        <div class="offer_flow_detail">
          <p class="offer_flow_detail_text1">④ デザインの商品化が決定</p>
          <img src="/assets/offer_flow4.png" class="offer_flow" alt="オファーの流れ④">
          <div class="offer_flow_detail_text2_frame">
            <p class="offer_flow_detail_text2">オファーの交渉が成立すれば晴れてあなたのデザインが商品化となります</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
