/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/*--------------------------------------------------------------------------------------------------*/





/*----------レスポンシブ画面----------*/

/*ブレイクポイント*/

/*-----①1400px-----*/
/*-----②1200px-----*/
/*-----③1000px-----*/
/*-----④800px------*/
/*-----⑤600px------*/

/*600pxまで完了*/
/*新規登録画面/デザイン投稿者詳細画面/デザイン投稿者編集画面/デザイン新規投稿画面*/

/*------------------------------------*/



/*---------------共通---------------*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

ul {
  list-style: none;
}
textarea, input[type="submit"], input[type="email"], input[type="password"], input[type="text"]{
  border: none;
  outline: none;
  border-radius: 4px;
}

/*---------------------------------*/



/*---------------エラー---------------*/
.error_box{
  color: #CC0000;
  font-family: serif;
  font-weight: bold;
  padding: 20px;
  border: double 10px #CC0000;
  background-color: #FFFF99;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error_heading{
  font-size: 18px;
  border-bottom: solid 1px #CC0000;
  margin-bottom: 15px;
}

.error_list{
  font-size: 20px;
  margin: 5px 0;
}

.notice{
  text-align: center;
  font-family: "HiraMinProN-W6";
  color: rgb(40, 184, 47);
  background-color: rgb(203, 255, 232);
}

.alert{
  text-align: center;
  font-family: "HiraMinProN-W6";
  color: rgb(255, 14, 15);
  background-color: rgb(255, 227, 233);
}
/*--------------------------------------*/

/*-----------1000px以下に適用------------*/
@media(max-width: 1000px){
  .error_heading{
    display: none;
  }
}
/*--------------------------------------*/

/*-----------600px以下に適用------------*/
@media(max-width: 600px){
  .error_box{
    padding: 0px;
    border: double 5px #CC0000;
  }

  .error_list{
    font-size: 12px;
  }

  .notice{
    font-size: 14px;
  }

  .alert{
    font-size: 14px;
  }
}
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/



/*---------------------------------ヘッダー---------------------------------*/
header{
  width: 100%;
  height: 100px;
  background-color: rgb(25, 12, 3);
}

.header_content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 100%;
  margin: 0 auto;
}

.header_logo{
  font-family: serif;
  text-align: center;
  font-size: 30px;
}

.login_header_lists{
  display: flex;
  justify-content: space-between;
  width: 630px;
  line-height: 18px;
  font-family: serif;
}

.logout_header_lists{
  display: flex;
  justify-content: space-between;
  width: 430px;
  line-height: 18px;
  font-family: serif;
}

.header_list{
  text-align: center;
  font-size: 15px;
  position: relative;
  z-index: 1;
}

.header_link{
  color: rgb(223, 183, 180);
}

.header_link:hover{
  opacity: 0.7;
}

.header_list_ruby{
  font-size: 10px;
  display: block;
}

.notification_color_ball{
  position: absolute;
  top: -30%;
  right: 70%;
  z-index: 10;
}

/*ハンバーガーメニュー*/
#menu-btn-check{
  display: none;
}
/*--------------------------------------*/

/*-----------1000px以下に適用------------*/
@media(max-width: 1000px){

  .notification_color_ball{
    top: 10%;
    right: 75%;
  }

  /*ハンバーガーメニュー*/
  .menu-btn{
    position: fixed;
    top: 20px;
    right: 25px;
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    z-index: 90;
    background-color: rgb(25, 12, 3);
    cursor: pointer;
  }
  .menu-btn span, .menu-btn span:before, .menu-btn span:after{
    content: "";
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: rgb(223, 183, 180);
    position: absolute;
  }
  .menu-btn span:before{
    bottom: 8px;
  }
  .menu-btn span:after{
    top: 8px;
  }
  #menu-btn-check:checked ~ .menu-btn span{
    background-color: rgba(255, 255, 255, 0);
  }
  #menu-btn-check:checked ~ .menu-btn span::before{
    bottom: 0;
    transform: rotate(45deg);
    transition: all 0.3s;
  }
  #menu-btn-check:checked ~ .menu-btn span::after{
    top: 0;
    transform: rotate(-45deg);
    transition: all 0.3s;
  }
  .menu-content {
    width: 50%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;
    z-index: 80;
    background-color: rgba(25, 12, 3, 0.5);
    transition: all 0.5s;
  }
  .header_lists{
    flex-direction: column;
    align-items: center;
    padding-top: 150px;
    padding-bottom: 150px;
    width: auto;
  }
  .menu-content ul li {
    border-bottom: solid 1px #ffffff;
    list-style: none;
  }
  .menu-content ul li a {
    display: block;
    width: 100%;
    font-size: 15px;
    box-sizing: border-box;
    color:#ffffff;
    text-decoration: none;
    padding: 10px 0;
    position: relative;
  }
  #menu-btn-check:checked ~ .menu-content{
    left: 50%;
  }
}
/*--------------------------------------*/

/*-----------400px以下に適用------------*/
@media(max-width: 400px){
  .header_logo{
    font-size: 25px;
  }
}
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*----------------------------------------------メイン----------------------------------------------*/
.main_content{
  font-family: "HiraMinProN-W6";
  background-color: rgb(70, 40, 20);
}

.content_width{
  width: 90%;
  margin: 0 auto;
  height: 100%;
}

.top_content{
  padding: 10% 10% 0% 10%;
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 0;
  margin: 0 auto;
  padding-top: calc(1100 / 2500 * 100%);
  position: relative;
}

.heading2{
  color: rgb(59, 34, 33);
  font-family: serif;
  font-weight: bold;
}

.heading2 h2{
  font-size: 35px;
  letter-spacing: 5px;
}

.heading2 p{
  font-size: 18px;
}

.heading1{
  display: inline-block;
  padding-bottom: 2px;
  border-bottom: solid 5px rgba(50, 26, 10, 0.6);
  position: absolute;
  bottom: 10px;
}

.heading1 h1{
  display: inline-block;
  padding-right: 40px;
  font-family: "HiraMinProN-W6";
  font-size: 90px;
  font-weight: bold;
  color: rgba(249, 242, 237, 0.9);
  background: linear-gradient(transparent 70%, rgb(50, 26, 10) 80%);
}

.bottom_content{
  padding: 3% 10% 10%;
  background-size: 100%;
}
/*---------------------------------------*/

/*-----------1200px以下に適用------------*/
@media (max-width: 1200px){
  .heading2 h2{
    font-size: 28px;
  }
  .heading2 p{
    font-size: 15px;
  }
}
/*--------------------------------------*/

/*-----------1000px以下に適用------------*/
@media (max-width: 1000px){
  .heading2 h2{
    font-size: 25px;
  }
  .heading2 p{
    font-size: 12px;
  }
  .heading1{
    border-bottom: solid 3px rgba(50, 26, 10, 0.6);
  }
  .heading1 h1{
    padding-right: 30px;
    font-size: 70px;
  }
}
/*--------------------------------------*/

/*-----------600px以下に適用------------*/
@media(max-width: 600px){
  .content_width{
    width: 95%;
  }
  .heading2 h2{
    font-size: 22px;
  }
  .heading1{
    display: none;
  }
}
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*----------------------------------------------フッター（完成）----------------------------------------------*/
footer{
  height: 100px;
  background-color: rgb(25, 12, 3);
}

.footer_content{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.footer_logo{
  font-family: serif;
  text-align: center;
  font-size: 15px;
}

.footer_link{
  color: rgb(223, 183, 180);
}

.footer_link:hover{
  opacity: 0.7;
}

.footer_logo_ruby{
  display: block;
  font-size: 10px;
}
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*----------------------------------------------ログイン画面----------------------------------------------*/
.login_content{
  background-color: rgb(197, 180, 169);
  padding: 0 10%;
  padding-bottom: 5%;
  position: relative;
}

.login_decorate_back1{
  background-image: url("decorate_back3.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 500px;
  height: 500px;
  position: absolute;
  top: 0;
  left: 0;
}

.login_lead{
  text-align: right;
  padding-top: 10%;
  padding-bottom: 5%;
}

.login_lead h2{
  color: rgb(59, 34, 33);
  font-size: 50px;
  font-family: serif;
  font-weight: bold;
  border-bottom: solid 1px rgb(59, 34, 33);
  line-height: 1;
  display: inline-block;
  position: relative;
}

.login_form_content{
  margin-top: 50px;
  margin-right: 200px;
}

.login_form{
  width: 500px;
  height: 200px;
  margin: 0 0 0 auto;
  margin-bottom: 30px;
  position: relative;
}

.login_input_form{
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  color: rgb(59, 34, 33);
  font-size: 24px;
  font-family: serif;
  font-weight: bold;
}

.email_form, .password_form{
  width: 300px;
  padding: 0 10px;
  font-family: "HiraMinProN-W6";
  color: rgb(59, 34, 33);
  background-color: rgb(249, 242, 237);
}

.login_btn_form{
  text-align: center;
  margin-top: 50px;
}

.login_btn{
  padding: 8px 30px;
  font-size: 18px;
  font-family: serif;
  font-weight: bold;
  color: rgb(249, 242, 237);
  background-color: rgb(50, 26, 10);
  letter-spacing: 5px;
}

.login_btn:hover{
  opacity: 0.7;
  cursor: pointer;
}

.login_decorate_back2{
  width: 200px;
  height: 200px;
  background-image: url("decorate_back2.png");
  background-size: cover;
  position: absolute;
  top: 0;
  left: 100%;
}

.under_login_form{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login_heading{
  display: inline-block;
  padding-bottom: 2px;
  border-bottom: solid 5px rgba(50, 26, 10, 0.6);
}

.login_heading h1{
  display: inline-block;
  padding-right: 30px;
  font-family: "HiraMinProN-W6";
  font-size: 90px;
  font-weight: bold;
  color: rgba(249, 242, 237, 0.9);
  background: linear-gradient(transparent 70%, rgb(50, 26, 10) 80%);
}

.another_link_font{
  color: rgb(138, 10, 0);
  font-size: 20px;
  font-family: serif;
  font-weight: bold;
}

.another_user_link:hover{
  opacity: 0.6;
}
/*--------------------------------------*/

/*-----------1200px以下に適用------------*/
@media(max-width: 1200px){
  .login_form_content{
    margin-right: 150px;
  }
  .login_form{
    width: 450px;
  }
  .login_input_form{
    font-size: 22px;
  }
  .email_form, .password_form{
    width: 260px;
  }
  .login_decorate_back2{
    left: 90%;
  }
}
/*--------------------------------------*/

/*-----------1000px以下に適用------------*/
@media(max-width: 1000px){
  .login_decorate_back1{
    width: 350px;
    height: 350px;
  }
  .login_lead h2{
    font-size: 35px;
  }
  .login_form_content{
    margin-right: 100px;
  }
  .login_decorate_back2{
    width: 180px;
    height: 180px;
  }
  .login_heading h1{
    padding-right: 25px;
    font-size: 70px;
  }
  .another_link_font{
    font-size: 18px;
  }
}
/*--------------------------------------*/

/*-----------800px以下に適用------------*/
@media(max-width: 800px){
  .login_decorate_back1{
    width: 290px;
    height: 290px;
  }
  .login_form_content{
    margin-right: 0px;
  }
  .login_form{
    width: 400px;
    margin: 0 auto;
  }
  .login_input_form{
    margin-bottom: 15px;
    font-size: 20px;
  }
  .email_form, .password_form{
    width: 250px;
  }
  .login_btn{
    font-size: 15px;
  }
  .login_decorate_back2{
    width: 100px;
    height: 100px;
    top: 95px;
    left: 80%;
  }
  .login_heading{
    border-bottom: solid 2px rgba(50, 26, 10, 0.6);
  }
  .login_heading h1{
    padding-right: 10px;
    font-size: 50px;
  }
  .another_link_font{
    font-size: 16px;
  }
}
/*--------------------------------------*/

/*-----------600px以下に適用------------*/
@media(max-width: 600px){
  .login_decorate_back1{
    width: 45%;
  }
  .login_lead{
    text-align: center;
    padding-top: 20%;
  }
  .login_lead h2{
    font-size: 22px;
  }
  .login_form_content{
    margin-top: 30px;
  }
  .login_form{
    width: 240px;
    margin: 0 auto;
  }
  .login_input_form{
    flex-direction: column;
    font-size: 16px;
  }
  .email_form, .password_form{
    width: 100%;
    padding: 8px 10px;
  }
  .login_btn_form{
    margin-top: 30px;
  }
  .login_btn{
    padding: 6px 20px;
    font-size: 14px;
    letter-spacing: 3px;
  }
  .login_decorate_back2{
    top: 150px;
    left: 60%;
  }
  .under_login_form{
    flex-direction: column;
    align-items: flex-start;
  }
  .login_heading h1{
    font-size: 35px;
  }
  .another_user_link{
    margin: 15px 0;
  }
  .another_link_font{
    font-size: 14px;
  }
}
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*----------------------------------------------新規登録画面----------------------------------------------*/
.signup_top1{
  background-image: url("signup_back1.png");
}

.signup_heading2_content{
  display: flex;
  position: absolute;
  top: 34%;
  right: 20%;
}

.signup_heading2{
  position: relative;
}

.signup_heading2 span{
  font-size: 22px;
  margin-left: 20px;
  color: rgb(148, 26, 16);
}

.signup_decorate_back{
  width: 100px;
  height: 100px;
  background-image: url("decorate_back2.png");
  background-size: cover;
  position: absolute;
  bottom: 0;
  left: 100%;
}

.signup_heading1{
  display: inline-block;
  padding-bottom: 2px;
  border-bottom: solid 5px rgba(50, 26, 10, 0.6);
  position: absolute;
  bottom: 2px;
}

.signup_heading1 h1{
  display: inline-block;
  padding-right: 30px;
  font-family: "HiraMinProN-W6";
  font-size: 90px;
  font-weight: bold;
  color: rgba(249, 242, 237, 0.9);
  background: linear-gradient(transparent 70%, rgb(50, 26, 10) 80%);
}

.signup_bottom{
  background-image: url("base_back1.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10%;
}

.signup_flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.signup_heading3{
  color: rgb(59, 34, 33);
  font-family: serif;
  font-size: 30px;
  border: double 10px rgb(59, 34, 33);
  text-align: center;
  padding: 10px 20px;
}

.signup_form{
  margin: 0 auto;
  width: 700px;
  margin-top: 5%;
}

.signup_input_form{
  display: flex;
  margin-bottom: 20px;
  color: rgb(59, 34, 33);
  font-family: serif;
  font-weight: bold;
}

.signup_label{
  width: 250px;
  font-size: 20px;
}

.signup_input{
  width: 250px;
  padding: 5px 10px;
  font-size: 15px;
  font-family: "HiraMinProN-W6";
  font-weight: bold;
  background-color: rgb(249, 242, 237);
}

.email_input, .password_input, .introduction_input{
  width: 350px;
}

.introduction_input{
  height: 100px;
}

.postal_code_input{
  width: 200px;
}

.address_input{
  width: 450px;
}

.input_profile_image1{
  width: 300px;
  font-size: 15px;
  color: rgb(249, 242, 237);
  background-color: rgb(65, 33, 11);
  text-align: center;
  margin: 20px auto;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.input_profile_image1:hover{
  background-color: rgba(65, 33, 11, 0.7);
}

.input_profile_image2{
  display: none;
}

.signup_btn_form{
  text-align: center;
  margin-top: 50px;
}

.signup_btn{
  padding: 8px 30px;
  font-size: 18px;
  font-family: serif;
  font-weight: bold;
  color: rgb(249, 242, 237);
  background-color: rgb(61, 36, 34);
  letter-spacing: 20px;
  text-indent: 20px;
}

.signup_btn:hover{
  opacity: 0.7;
  cursor: pointer;
}
/*--------------------------------------*/

/*-----------1200px以下に適用------------*/
@media(max-width: 1200px){
  .signup_heading2 span{
    font-size: 20px;
    margin-left: 15px;
    letter-spacing: 4px;
  }
}
/*--------------------------------------*/

/*-----------1000px以下に適用------------*/
@media(max-width: 1000px){
  .signup_heading2 span{
    font-size: 18px;
    margin-left: 10px;
    letter-spacing: 3px;
  }
  .signup_heading1 h1{
    padding-right: 25px;
    font-size: 70px;
  }
  .signup_heading3{
    font-size: 25px;
    border: double 7px rgb(59, 34, 33);
  }
  .signup_form{
    width: 570px;
  }
  .signup_input_form{
    margin-bottom: 15px;
  }
  .signup_label{
    width: 170px;
    font-size: 18px;
  }
  .signup_input{
    width: 230px;
    font-size: 13px;
  }
  .email_input, .password_input, .introduction_input{
    width: 320px;
  }
  .introduction_input{
    height: 80px;
  }
  .postal_code_input{
    width: 180px;
  }
  .address_input{
    width: 400px;
  }
  .input_profile_image1{
    width: 270px;
    font-size: 13px;
  }
}
/*--------------------------------------*/

/*-----------800px以下に適用------------*/
@media(max-width: 800px){
  .signup_decorate_back{
    width: 80px;
    height: 80px;
  }
  .signup_heading1{
    border-bottom: solid 2px rgba(50, 26, 10, 0.6);
  }
  .signup_heading1 h1{
    padding-right: 10px;
    font-size: 50px;
  }
  .signup_heading3{
    font-size: 16px;
    border: double 6px rgb(59, 34, 33);
  }
  .signup_form{
    width: 430px;
  }
  .signup_input_form{
    margin-bottom: 12px;
  }
  .signup_label{
    width: 150px;
    font-size: 16px;
  }
  .signup_input{
    width: 180px;
    font-size: 11px;
  }
  .email_input, .password_input, .introduction_input{
    width: 230px;
  }
  .postal_code_input{
    width: 140px;
  }
  .address_input{
    width: 280px;
  }
  .input_profile_image1{
    width: 220px;
    font-size: 11px;
  }
  .signup_btn{
    padding: 6px 20px;
    font-size: 15px;
    letter-spacing: 18px;
    text-indent: 18px;
  }
}
/*--------------------------------------*/

/*-----------600px以下に適用------------*/
@media(max-width: 600px){
  .signup_heading2_content{
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    height: 70px;
  }
  .signup_heading2_content_company{
    height: 90px;
  }
  .signup_heading2{
    margin: 0 auto;
    text-align: center;
  }
  .signup_heading2 span{
    display: block;
    font-size: 15px;
  }
  .signup_decorate_back{
    width: 50px;
    height: 50px;
    top: -15%;
    left: 85%;
  }
  .signup_heading1{
    display: none;
  }
  .signup_flex{
    flex-direction: column;
    align-items: flex-start;
  }
  .signup_heading3{
    font-size: 15px;
    padding: 8px 18px;
    border: double 4px rgb(59, 34, 33);
  }
  .signup_form{
    width: 240px;
  }
  .signup_input_form{
    flex-direction: column;
  }
  .input_profile_image1{
    width: 180px;
    font-size: 10px;
  }
  .signup_label{
    font-size: 15px;
  }
  .signup_input{
    width: 100%;
  }
  .postal_code_input{
    width: 60%;
  }
  .signup_btn_form{
    margin-top: 30px;
  }
  .signup_btn{
    padding: 6px 18px;
    font-size: 13px;
    letter-spacing: 16px;
    text-indent: 16px;
  }
}
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

