/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/*--------------------------------------------------------------------------------------------------*/
/*---------------共通---------------*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

ul {
  list-style: none;
}
input[type="submit"], input[type="email"], input[type="password"]{
  border: none;
  outline: none;
  border-radius: 4px;
}
/*---------------------------------*/

/*• スマートフォン：599px [max-width : 599px]*/
/*• タブレット：1024px [max-width : 1024px]*/
/*• PC：設定なし（実質1025px以上）*/

/*-------------------------------------ヘッダー--------------------------------*/
header{
  background-color: rgb(25, 12, 3);
}

.header_content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 100px;
  margin: 0 auto;
}

.header_logo{
  font-family: serif;
  text-align: center;
  font-size: 30px;
}

.header_lists{
  display: flex;
  justify-content: flex-end;
  width: 70%;
  line-height: 18px;
  font-family: serif;
}

.header_list{
  margin-left: 4%;
  text-align: center;
  font-size: 15px;
}

.header_link{
  color: rgb(223, 183, 180);
}

.header_list_ruby{
  font-size: 10px;
  display: block;
}

/*タブレット*/
@media(max-width: 1024px){

}

/*スマホ*/
@media(max-width: 599px){

}

/*--------------------------------------メイン---------------------------------*/
.main_content{
  background-color: rgb(50, 26, 10);
}

.content_width{
  width: 90%;
  margin: 0 auto;
  height: 100%;
  background-color: rgb(197, 180, 169);
}

/*タブレット*/
@media(max-width: 1024px){

}

/*スマホ*/
@media(max-width: 599px){

}

/*-------------------------------------フッター（完成）--------------------------------*/
footer{
  background-color: rgb(25, 12, 3);
  height: 100px;
}

.footer_logo{
  font-family: serif;
  text-align: center;
  font-size: 15px;
  padding-top: 30px;
}

.footer_link{
  color: rgb(223, 183, 180);
}

.footer_logo_ruby{
  display: block;
  font-size: 10px;
}

/*スマホ*/
@media(max-width: 599px){
  footer{
    background-color: rgb(25, 12, 3);
    height: 60px;
  }
  .footer_logo{
    font-size: 10px;
    padding-top: 15px;
  }
}

/*-------------------------------------ログイン画面--------------------------------*/
.login_form_content{
  padding-top: 15%;
  padding-bottom: 15%;
  background-color: red;
}

.login_form{
  width: 620px;
  margin: 0 0 0 auto;
  margin-right: 20%;
  margin-bottom: 50px;
  background-color: green;
}
.input_form{
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  color: rgb(59, 34, 33);
  font-size: 20px;
  font-family: serif;
  font-weight: bold;
}

.email_form, .password_form{
  width: 300px;
}

.login_btn_form{
  text-align: center;
  margin-top: 50px;
}

.login_btn{
  background-color: rgb(241, 215, 213);
  padding: 8px 50px;
  font-size: 18px;
  font-family: serif;
  font-weight: bold;
  color: rgb(61, 36, 34);
}

.main_logo{
  width: 20%;
  margin-left: 5%;
  padding-bottom: 3px;
  border-bottom: solid 5px rgb(50, 26, 10);
}

.main_logo_item{
  padding-right: 10px;
  font-family: Georgia;
  font-size: 75px;
  font-weight: normal;
  color: rgb(249, 242, 237);
  background: linear-gradient(transparent 60%, rgb(50, 26, 10) 90%);
}

.another_user_link{
  text-align: right;
  margin-right: 25px;
}

.another_link_font{
  color: rgb(138, 10, 0);
  font-family: serif;
  font-weight: bold;
}

/*タブレット*/
@media(max-width: 1024px){

}

/*スマホ*/
@media(max-width: 599px){

}