/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/*--------------------------------------------------------------------------------------------------*/
/*---------------共通---------------*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

ul {
  list-style: none;
}
textarea, input[type="submit"], input[type="email"], input[type="password"], input[type="text"]{
  border: none;
  outline: none;
  border-radius: 4px;
}

/*---------------------------------*/

/*• スマートフォン：599px [max-width : 599px]*/
/*• タブレット：1024px [max-width : 1024px]*/
/*• PC：設定なし（実質1025px以上）*/

/*-------------------------------------ヘッダー--------------------------------*/
header{
  height: 100px;
  background-color: rgb(25, 12, 3);
}

.header_content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 100%;
  margin: 0 auto;
}

.header_logo{
  font-family: serif;
  text-align: center;
  font-size: 30px;
}

.login_header_lists{
  display: flex;
  justify-content: space-between;
  width: 630px;
  line-height: 18px;
  font-family: serif;
}

.logout_header_lists{
  display: flex;
  justify-content: space-between;
  width: 330px;
  line-height: 18px;
  font-family: serif;
}

.header_list{
  text-align: center;
  font-size: 15px;
}

.header_link{
  color: rgb(223, 183, 180);
}

.header_list_ruby{
  font-size: 10px;
  display: block;
}

/*タブレット*/
@media(max-width: 1024px){

}

/*スマホ*/
@media(max-width: 599px){

}

/*--------------------------------------メイン---------------------------------*/
.main_content{
  background-color: rgb(70, 40, 20);
}

.content_width{
  width: 90%;
  margin: 0 auto;
  height: 100%;
  /*各ページのCSSでそれぞれの背景画像を入れること*/
}

/*タブレット*/
@media(max-width: 1024px){

}

/*スマホ*/
@media(max-width: 599px){

}

/*-------------------------------------フッター（完成）--------------------------------*/
footer{
  height: 100px;
  background-color: rgb(25, 12, 3);
}

.footer_content{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.footer_logo{
  font-family: serif;
  text-align: center;
  font-size: 15px;
}

.footer_link{
  color: rgb(223, 183, 180);
}

.footer_logo_ruby{
  display: block;
  font-size: 10px;
}
/*-------------------------------------ログイン画面--------------------------------*/
.login_content{
  background-color: rgb(197, 180, 169);
  padding-bottom: 5%;
}

.login_background1{
  background-image: url("login_background1.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.login_lead{
  text-align: right;
  padding-top: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
}

.login_lead_item{
  color: rgb(59, 34, 33);
  font-size: 50px;
  font-family: serif;
  font-weight: bold;
  border-bottom: solid 1px rgb(59, 34, 33);
  line-height: 1;
  display: inline-block;
}

.login_form_content{
  display: flex;
  margin-right: 10%;
}

.login_form{
  width: 500px;
  height: 200px;
  margin: 0 0 0 auto;
  margin-bottom: 30px;
}
.login_input_form{
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  color: rgb(59, 34, 33);
  font-size: 24px;
  font-family: serif;
  font-weight: bold;
}

.email_form, .password_form{
  width: 300px;
  padding-left: 10px;
  background-color: rgb(249, 242, 237);
}

.login_btn_form{
  text-align: center;
  margin-top: 50px;
}

.login_btn{
  background-color: rgb(241, 215, 213);
  padding: 8px 30px;
  font-size: 18px;
  font-family: serif;
  font-weight: bold;
  color: rgb(61, 36, 34);
  letter-spacing: 5px;
}

.login_btn:hover{
  background-color: rgb(223, 183, 180);
  cursor: pointer;
}

.login_background2{
  width: 200px;
  height: 200px;
  background-image: url("login_background2.png");
  background-size: cover;
}

.under_login_form{
  display: flex;
  justify-content: space-between;
}

.login_heading{
  width: 400px;
  margin-left: 10%;
  padding-bottom: 2px;
  border-bottom: solid 5px rgba(50, 26, 10, 0.6);
}

.login_heading_item{
  padding-right: 10px;
  font-family: "ヒラギノ明朝 ProN W6";
  font-size: 95px;
  font-weight: bold;
  color: rgba(249, 242, 237, 0.9);
  background: linear-gradient(transparent 70%, rgb(50, 26, 10) 90%);
}

.another_user_link{
  text-align: right;
  margin-right: 10%;
  margin-top: 3%;
}

.another_link_font{
  color: rgb(138, 10, 0);
  font-size: 20px;
  font-family: serif;
  font-weight: bold;
}

.another_user_link:hover{
  opacity: 0.6;
}

/*タブレット*/
@media(max-width: 1024px){

}

/*スマホ*/
@media(max-width: 599px){

}

/*-------------------------------------新規登録画面--------------------------------*/
.signup_top{
  padding: 16% 10% 0% 10%;
}
.signup_background1{
  background-image: url("signup_background1.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.signup_lead_content{
  display: flex;
}

.signup_lead1{
  margin-left: auto;
  margin-bottom: 10%;
  color: rgb(59, 34, 33);
  font-family: serif;
  font-weight: bold;
}

.signup_lead1_bold{
  font-size: 35px;
}

.signup_lead1_bold span{
  font-size: 20px;
  margin-left: 20px;
  color: rgb(148, 26, 16);
}

.signup_background2{
  width: 100px;
  height: 100px;
  background-image: url("signup_background2");
  background-size: cover;
}

.signup_heading{
  width: 400px;
  padding-bottom: 2px;
  border-bottom: solid 5px rgba(50, 26, 10, 0.6);
  margin-top: auto;
}

.signup_heading_item{
  padding-right: 10px;
  font-family: "ヒラギノ明朝 ProN W6";
  font-size: 95px;
  font-weight: bold;
  color: rgba(249, 242, 237, 0.9);
  background: linear-gradient(transparent 70%, rgb(50, 26, 10) 90%);
  margin-top: auto;
}

.signup_bottom{
  background-image: url("background1");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5% 10%;
}

.signup_flex{
  display: flex;
  justify-content: space-between;
}

.signup_lead2{
  color: rgb(59, 34, 33);
  font-family: serif;
  font-size: 30px;
  border: double 10px rgb(59, 34, 33);
  width: 250px;
  text-align: center;
}

.company_signup_lead2{
  color: rgb(59, 34, 33);
  font-family: serif;
  font-size: 30px;
  border: double 10px rgb(59, 34, 33);
  width: 400px;
  text-align: center;
}

.signup_form{
  margin: 0 auto;
  width: 700px;
  margin-top: 5%;
}

.signup_input_form{
  display: flex;
  margin-bottom: 20px;
  color: rgb(59, 34, 33);
  font-family: serif;
  font-weight: bold;
}

.signup_label{
  width: 250px;
  font-size: 20px;
}

.signup_input{
  width: 250px;
  padding:5px 10px;
  font-size: 15px;
  font-family: serif;
  font-weight: bold;
  background-color: rgb(249, 242, 237);
}

.email_input, .password_input, .introduction_input{
  width: 350px;
}

.postal_code_input{
  width: 200px;
}

.address_input{
  width: 450px;
}

.input_profile_image1{
  width: 300px;
  font-size: 15px;
  color: rgb(249, 242, 237);
  background-color: rgb(65, 33, 11);
  text-align: center;
  margin: 20px 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.input_profile_image1:hover{
  background-color: rgba(65, 33, 11, 0.7);
}

.input_profile_image2{
  display: none;
}

.signup_btn_form{
  text-align: center;
  margin-top: 50px;
}

.signup_btn{
  background-color: rgb(241, 215, 213);
  padding: 8px 30px;
  font-size: 18px;
  font-family: serif;
  font-weight: bold;
  color: rgb(61, 36, 34);
  letter-spacing: 20px;
  text-indent: 20px;
}

.signup_btn:hover{
  background-color: rgb(223, 183, 180);
  cursor: pointer;
}

.devise_error{
  color: #CC0000;
  font-family: serif;
  font-weight: bold;
  padding: 20px;
  border: double 10px #CC0000;
  background-color: #FFFF99;
}

.devise_error_heading{
  font-size: 18px;
  border-bottom: solid 1px #CC0000;
  margin-bottom: 15px;
}

.devise_error_list{
  font-size: 20px;
  margin-top: 5px;
}
