// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// --------------------------------------------------




// トップ画面
.top_top{
  background-image: url("top_back1.png");
}
.top_top_heading{
  letter-spacing: 5px;
  position: absolute;
  top: 40%;
}
.top_bottom{
  background-image: url("top_back2.png");
  background-size: 100%;
  padding: 3% 10% 10%;
}
.top_bottom_heading1{
  display: inline-block;
  margin-top: 20px;
  padding: 10px;
  border-radius: 8px;
  background-color: rgb(70, 40, 20);
}
.top_bottom_heading1 h2{
  color: rgb(249, 242, 237);
  padding: 15px 30px;
  border: dashed 2px rgb(249, 242, 237);
  border-radius: 3px;
}
.top_bottom_heading2{
  display: inline-block;
  color: rgb(70, 40, 20);
  font-size: 20px;
  padding: 5px 25px;
  margin: 50px 25px 20px 25px;
  border-top: double 5px rgb(70, 40, 20);
  border-bottom: double 5px rgb(70, 40, 20);
}
.top_bottom_content1{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.top_bottom_content2{
  margin: 15px;
}
.top_bottom_want_rank{
  color: rgb(123, 0, 2);
  font-size: 23px;
  margin-left: 5px;
}
.top_bottom_post_image1{
  position: relative;
}
.top_bottom_post_image1:hover{
  opacity: 0.8;
}
.top_bottom_post_image1::after{
  position: absolute;
  content: '';
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: inset 0 0 5px 5px rgb(224, 210, 200);
  border-radius: 10px;
}
.top_bottom_post_image2{
  border-radius: 10px;
}
.top_bottom_design_contributor1{
  display: inline-block;
  color: rgb(70, 40, 20);
  margin-top: 8px;
  margin-left: 5px;
}
.top_bottom_design_contributor1:hover{
  opacity: 0.8;
}
.top_bottom_design_contributor2{
  display: flex;
  align-items: center;
  font-size: 18px;
}
.top_bottom_profile_image{
  margin-right: 10px;
  border-radius: 100%;
}
.top_bottom_link1{
  text-align: center;
  margin: 20px;
}
.top_bottom_link2{
  color: rgb(70, 40, 20);
  border-bottom: solid 1px rgb(70, 40, 20);
}
.top_bottom_link2:hover{
  opacity: 0.8;
}
.top_bottom_item_content{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 2% 0;
}
.top_bottom_item{
  margin: 0 10px;
  position: relative;
}
.top_bottom_item_image1{
  position: relative;
}
.top_bottom_item_image1::after{
  position: absolute;
  content: '';
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: inset 0 0 5px 5px rgb(224, 210, 200);
  border-radius: 10px;
}
.top_bottom_item_image2{
  width: 400px;
  height: 600px;
  object-fit: cover;
  object-position: 100% 100%;
  border-radius: 10px;
}
.top_bottom_item_lead{
  color: white;
  text-align: center;
  text-shadow: 1px 2px 3px rgb(61,21,20);
  position: absolute;
}
.top_bottom_item_lead1{
  left: 25px;
  bottom: 75px;
}
.top_bottom_item_lead2{
  top: 58%;
  right: 30px;
}
.top_bottom_item_lead span{
  margin-left: 3px;
}
.top_bottom_inquiry_content_back{
  margin-top: 10%;
  padding: 50px 60px;
  background-color: rgb(249, 242, 237);
}
.top_bottom_inquiry_content_back .top_bottom_heading2{
  margin-top: 0;
}
.top_bottom_inquiry_content{
  color: rgb(70, 40, 20);
  margin: 0 5px;
}
.top_bottom_inquiry_content2{
  margin-top: 20px;
}
.top_bottom_inquiry_lead{
  display: inline-block;
  font-size: 18px;
  margin: 10px 0;
  letter-spacing: 3px;
  border-bottom: solid 1px rgb(70, 40, 20);
}
.top_bottom_inquiry{
  display: flex;
  font-size: 18px;
  margin: 5px 0;
  margin-left: 20px;
}
.top_bottom_inquiry1{
  width: 150px;
  letter-spacing: 2px;
}
.top_bottom_inquiry2{
  letter-spacing: 1px;
}
.top_bottom_inquiry2 span{
  font-size: 15px;
}
// ---------------------------------------

// -----------1400px以下に適用------------
@media (max-width: 1400px){
  .top_bottom_post_image2_rank{
    width: 250px;
  }
  .top_bottom_post_image2_new{
    width: 200px;
  }
  .top_bottom_design_contributor2{
    font-size: 16px;
  }
  .top_bottom_profile_image{
    width: 40px;
    height: 40px;
  }
}
// --------------------------------------

// -----------1200px以下に適用------------
@media (max-width: 1200px){
  .top_bottom_content2{
    margin: 10px;
  }
  .top_bottom_post_image2_rank{
    width: 200px;
  }
  .top_bottom_item_image2{
    width: 340px;
    height: 520px;
  }
}
// --------------------------------------

// -----------1000px以下に適用------------
@media (max-width: 1000px){
  .top_top_heading{
    letter-spacing: 2px;
  }
  .top_bottom_heading1{
    padding: 8px;
  }
  .top_bottom_heading1 h2{
    font-size: 22px;
    padding: 10px 20px;
    border: dashed 1px rgb(249, 242, 237);
  }
  .top_bottom_heading2{
    font-size: 18px;
    padding: 5px 20px;
    margin-top: 40px;
    margin-bottom: 10px;
    border-top: double 4px rgb(70, 40, 20);
    border-bottom: double 4px rgb(70, 40, 20);
  }
  .top_bottom_heading2_inquiry{
    margin-left: 0;
  }
  .top_bottom_post_image2_rank{
    width: 250px;
  }
  .top_bottom_content1_rank{
    margin: 35px 0;
  }
  .top_bottom_content1_rank >:first-child{
    margin: 0 50%;
  }
  .top_bottom_content2_rank{
    margin-top: 25px;
  }
  .top_bottom_item_image2{
    width: 268px;
    height: 400px;
  }
  .top_bottom_item_lead1{
    left: 25px;
    bottom: 45px;
  }
  .top_bottom_item_lead2{
    top: 60%;
    right: 25px;
  }
  .top_bottom_item_lead{
    font-size: 15px;
  }
  .top_bottom_inquiry_content_back{
    padding: 50px;
  }
  .top_bottom_inquiry1{
    width: 100px;
  }
  .top_bottom_inquiry2 span{
    font-size: 14px;
  }
}
// --------------------------------------

// -----------800px以下に適用------------
@media (max-width: 800px){
  .top_top_heading{
    letter-spacing: 0px;
  }
  .top_top_heading h1{
    font-size: 23px;
  }
  .top_top_heading p{
    font-size: 15px;
  }
  .top_bottom_heading1 h2{
    font-size: 20px;
  }
  .top_bottom_heading2{
    margin-left: 10px;
    margin-right: 10px;
  }
  .top_bottom_post_image2_rank{
    width: 190px;
  }
  .top_bottom_post_image2_new{
    width: 190px;
  }
  .top_bottom_item_image1{
    margin: 15px auto;
  }
  .top_bottom_inquiry_content_back{
    padding: 25px;
  }
  .top_bottom_inquiry_lead{
    font-size: 16px;
    letter-spacing: 2px;
  }
  .top_bottom_inquiry{
    font-size: 16px;
    margin-left: 18px;
  }
  .top_bottom_inquiry1{
    width: 20%;
  }
  .top_bottom_inquiry2 {
    letter-spacing: 0;
    width: 80%;
  }
}

// -----------600px以下に適用------------
@media (max-width: 600px){
  .top_top{
    background-image: url(top_back1_max_600.png);
  }
  .top_top_heading{
    display: inline-block;
    text-align: center;
    width: 90%;
    height: 23px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }
  .top_top_heading h1{
    display: none;
  }
  .top_bottom_heading1{
    margin-top: 40px;
  }
  .top_bottom_heading1 h2{
    font-size: 16px;
    padding: 8px 15px;
    border: dashed 1px #f9f2ed;
  }
  .top_bottom_heading2{
    font-size: 16px;
    padding: 4px 15px;
    border-top: double 3px #462814;
    border-bottom: double 3px #462814;
  }
  .top_bottom_content1_rank{
    margin-top: 15px;
  }
  .top_bottom_want_rank{
    font-size: 20px;
  }
  .top_bottom_link2{
    font-size: 14px;
  }
  .top_bottom_inquiry_content_back{
    padding: 25px 15px;
  }
  .top_bottom_inquiry{
    flex-direction: column;
    font-size: 16px;
    margin: 15px 0;
  }
  .top_bottom_inquiry1, .top_bottom_inquiry2{
    width: auto;
  }
  .top_bottom_inquiry2{
    margin-left: 18px;
  }
  .top_bottom_inquiry2 span{
    font-size: 12px;
  }
}
// --------------------------------------

// -----------400px以下に適用------------
@media(max-width: 400px){
  .top_top_heading{
    height: 46px;
  }
  .top_top_heading span{
    display: block;
  }
  .top_bottom_heading1 h2{
    font-size: 14px;
    padding: 8px 15px;
    border: dashed 1px #f9f2ed;
  }
  .top_bottom_item_image2{
    width: 230px;
    height: 350px;
  }
  .top_bottom_inquiry{
    font-size: 14px;
  }
  .top_bottom_inquiry2{
    margin-left: 10px;
  }
}

// ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------



// About画面
.about_top{
  background-image: url("about_top.png");
}
.about_heading2{
  position: absolute;
  top: 33%;
  left: 48%;
}
.about_heading2 h2{
  margin-bottom: 10px;
}
.about_heading2 span{
  display: block;
  font-size: 15px;
}
.about_heading2 p{
  line-height: 23px;
  letter-spacing: 1px;
}
.about_bottom{
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 0;
  margin: 0 auto;
  padding-top: calc(1200 / 2500 * 100%);
  position: relative;
}
.about_bottom1{
  background-image: url("about_bottom_back1.png");
}
.about_bottom_content{
  width: 600px;
  height: 380px;
  margin: 20px;
  color: rgb(61, 36, 34);
  position: absolute;
  bottom: 0;
  margin: auto;
}
.about_bottom1_content{
  top: 10%;
  left: 15%;
}
.about_bottom_heading{
  font-size: 22px;
  letter-spacing: 2px;
}
.about_bottom_content p{
  margin: 15px 0;
  line-height: 25px;
}
.about_bottom2{
  background-image: url("about_bottom_back2.png");
}
.about_bottom2_content{
  top: 0;
  left: 45%;
}
.about_bottom3{
  background-image: url("about_bottom_back3.png");
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 10% 0;
  color: #3d2422;
  background-color: rgb(197, 180, 169);
}
.about_bottom3_content{
  width: 800px;
  margin: 0 auto;
}
.offer_structure_heading{
  font-size: 25px;
  text-align: center;
  margin: 5% 0;
}
.offer_structure_heading span{
  margin-left: 10px;
  letter-spacing: 2px;
}
.offer_structure_detail{
  text-align: center;
}
.offer_structure_detail span{
  color: rgb(140, 0, 4);
}
.offer_structure1{
  display: flex;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 20%;
}
.registered_person_detail{
  width: 350px;
}
.registered_person_frame{
  position: relative;
  width: 300px;
  height: 250px;
  margin: 0 auto;
}
.registered_person_frame::after {
  position: absolute;
  content: '';
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: inset 0 0 5px 5px rgb(197, 180, 169);
  border-radius: 15px;
}
.registered_person{
  width: 300px;
  border-radius: 15px;
}
.registered_person_detail p{
  text-align: center;
  font-size: 20px;
}
.registered_person_detail span{
  display: block;
  font-size: 15px;
  font-weight: bold;
}

.offer_structure2{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 5%;
}
.offer_flow_detail{
  width: 350px;
  text-align: center;
  margin: 25px;
}
.offer_flow_detail_text1{
  font-size: 20px;
  margin-bottom: 10px;
}
.offer_flow{
  width: 320px;
  border-radius: 15px;
}
.offer_flow_detail_text2_frame{
  position: relative;
  width: 350px;
  height: 80px;
  margin: 0 auto;
}
.offer_flow_detail_text2_frame::after {
  position: absolute;
  content: '';
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: inset 0 0 3px 3px rgb(197, 180, 169);
  border-radius: 10px;
}
.offer_flow_detail_text2{
  width: 350px;
  height: 80px;
  margin: 0 auto;
  margin-top: 5px;
  padding: 15px 20px;
  text-align: left;
  border-radius: 10px;
  background-color: #F5F5F5;
}
// --------------------------------------

// -----------1200px以下に適用------------
@media(max-width: 1200px){
  .about_heading2{
    top: 31%;
  }
  .about_top .about_heading2 h2{
    letter-spacing: 2px;
  }
  .about_bottom_content{
    width: 500px;
    height: 320px;
  }
  .about_bottom2_content{
    left: 40%;
  }
  .about_bottom_content p{
    margin: 15px 0;
    line-height: 20px;
  }
}
// --------------------------------------

// -----------1000px以下に適用------------
@media(max-width: 1000px){
  .about_heading2{
    top: 30%;
  }
  .about_heading2 h2{
    margin-bottom: 0px;
  }
  .about_heading2 p{
    line-height: 18px;
    letter-spacing: 2px;
  }
  .about_bottom_heading{
    font-size: 20px;
    letter-spacing: 1px;
  }
  .about_bottom_content{
    width: 420px;
    height: 300px;
  }
  .about_bottom_content p{
    font-size: 14px;
    margin: 10px 0;
  }
  .about_bottom3_content{
    width: 650px;
  }
  .offer_structure_detail{
    font-size: 14px;
  }
  .registered_person_detail{
    width: 320px;
  }
  .offer_flow_detail{
    width: 300px;
    margin: 20px 5px;
  }
  .offer_flow {
    width: 100%;
  }
  .offer_flow_detail_text1{
    font-size: 18px;
  }
  .offer_flow_detail_text2_frame{
    width: 100%;
    height: 70px;
  }
  .offer_flow_detail_text2{
    width: 100%;
    height: 70px;
    font-size: 13px;
  }
}
// --------------------------------------

// -----------800px以下に適用------------
@media(max-width: 800px){
  .about_heading2{
    top: 35%;
    left: 45%;
  }
  .about_heading2 p{
    display: none;
  }
  .about_bottom_content{
    width: 350px;
    height: 220px;
  }
  .about_bottom_heading{
    font-size: 16px;
  }
  .about_bottom_content p{
    font-size: 12px;
    margin: 5px 0;
  }
  .about_bottom2_content{
    left: 36%;
  }
  .about_bottom2_content span{
    display: none;
  }
  .about_bottom3_content{
    width: 90%;
  }
  .offer_structure_heading{
    font-size: 20px;
  }
  .offer_structure_detail {
      font-size: 12px;
  }
  .registered_person_detail{
    width: 210px;
  }
  .registered_person_frame{
    width: 200px;
    height: 150px;
  }
  .registered_person{
    width: 200px;
    height: 150px;
  }
  .registered_person_detail p{
    font-size: 18px;
  }
  .registered_person_detail span{
    font-size: 12px;
  }
  .offer_flow_detail_text1{
    font-size: 14px;
  }
  .offer_flow_detail{
    width: 230px;
    margin: 20px 5px;
  }
  .offer_flow_detail_text2_frame{
    height: 85px;
  }
  .offer_flow_detail_text2{
    height: 85px;
    font-size: 12px;
  }
}
// --------------------------------------

// -----------600px以下に適用------------
@media(max-width: 600px){
  .offer_structure_heading{
    font-size: 15px;
  }
  .offer_structure_heading span{
    margin-left: 3px;
    letter-spacing: 1px;
  }
  .offer_structure_detail{
    text-align: left;
  }
  .offer_structure1{
    flex-direction: column;
    align-items: center;
  }
  .registered_person_detail{
    margin-top: 25px;
  }
  .offer_structure2 {
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
  }
}

// ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
