// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// --------------------------------------------------




// トップ画面


// ----------------------



// About画面
.about_top{
  background-image: url("about_top.png");
}
.about_heading2{
  position: absolute;
  top: 34%;
  left: 48%;
}
.about_heading2 h2{
  margin-bottom: 10px;
  // background-color: green;
}
.about_heading2 span{
  display: block;
  font-size: 15px;
  // background-color: red;
}
.about_heading2 p{
  line-height: 23px;
  letter-spacing: 1px;
}
.about_bottom1{
  // background-image: url("");
  background-color: red;
}
.about_bottom_content{
  width: 600px;
  color: rgb(61, 36, 34);
  background-color: green;
}
.about_bottom_heading{
  letter-spacing: 2px;
}
.about_bottom_content p{
  margin: 20px 0;
  line-height: 30px;
}
.about_bottom2{
  // background-image: url("");
  background-color: gray;
}
.about_bottom2_content{
  margin-left: auto;
}

// ----------------------
